<?xml version="1.0"?>
<config>
    <modules>
        <Dathent_Categoryreview>
            <version>0.1.0</version>
        </Dathent_Categoryreview>
    </modules>
    <frontend>
        <routers>
            <categoryreview>
                <use>standard</use>
                <args>
                    <module>Dathent_Categoryreview</module>
                    <frontName>categoryreview</frontName>
                </args>
            </categoryreview>
        </routers>
        <layout>
            <updates>
                <categoryreview_front>
                    <file>categoryreview.xml</file>
                </categoryreview_front>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<adminhtml>
				<args>
					<modules>
                        <Dathent_Categoryreview before="Mage_Adminhtml">Dathent_Categoryreview_Adminhtml</Dathent_Categoryreview>
                    </modules>

				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<categoryreview module="categoryreview">
				<title>Category Review</title>
				<sort_order>100</sort_order>
				<children>
					<items module="categoryreview">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>categoryreview/adminhtml_categoryreview</action>
					</items>
				</children>
			</categoryreview>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Dathent_Categoryreview>
							<title>Categoryreview Module</title>
							<sort_order>100</sort_order>
						</Dathent_Categoryreview>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<categoryreview>
					<file>categoryreview.xml</file>
				</categoryreview>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <categoryreview>
                <class>Dathent_Categoryreview_Model</class>
                <resourceModel>categoryreview_mysql4</resourceModel>
            </categoryreview>
            <categoryreview_mysql4>
                <class>Dathent_Categoryreview_Model_Mysql4</class>
                <entities>
                    <categoryreview>
                        <table>categoryreview</table>
                    </categoryreview>
                </entities>
            </categoryreview_mysql4>
        </models>
        <resources>
            <categoryreview_setup>
                <setup>
                    <module>Dathent_Categoryreview</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </categoryreview_setup>
            <categoryreview_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </categoryreview_write>
            <categoryreview_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </categoryreview_read>
        </resources>
        <blocks>
            <categoryreview>
                <class>Dathent_Categoryreview_Block</class>
            </categoryreview>
        </blocks>
        <helpers>
            <categoryreview>
                <class>Dathent_Categoryreview_Helper</class>
            </categoryreview>
        </helpers>
    </global>
</config>